body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.start {
    display: inline-block;
    vertical-align: top;
    width: 5em;
}
    
div.bidtable {
    width:700px;
}

div.bidtable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.bidtable li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 5em;
}
div.bidtable li {
    border-left: 1px solid black;
    border-radius: 4px;
    margin: 2px;
    padding: 2px;
}

.ccolor{color:DarkBlue}
.dcolor{color:Orange}
.hcolor{color:Red}
.scolor{color:Black}

/*!
 * "Fork me on GitHub" CSS ribbon v0.2.3 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

.github-fork-ribbon {
    width: 12.1em;
    height: 12.1em;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
    font-size: 13px;
    text-decoration: none;
    text-indent: -999999px;
  }
  
  .github-fork-ribbon.fixed {
    position: fixed;
  }
  
  .github-fork-ribbon:hover, .github-fork-ribbon:active {
    background-color: rgba(0, 0, 0, 0.0);
  }
  
  .github-fork-ribbon:before, .github-fork-ribbon:after {
    /* The right and left classes determine the side we attach our banner to */
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;

    top: 3.23em;
    right: -3.23em;

    box-sizing: content-box;
    transform: rotate(45deg);
  }
  
  .github-fork-ribbon:before {
    content: "";
  
    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: .38em 0;
  
    /* Set the base colour */
    background-color: #a00;
  
    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  
    /* Add a drop shadow */
    box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  
    pointer-events: auto;
  }
  
  .github-fork-ribbon:after {
    /* Set the text from the data-ribbon attribute */
    content: attr(data-ribbon);
  
    /* Set the text properties */
    color: #fff;
    font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.54em;
    text-decoration: none;
    text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;

    /* Set the layout properties */
    padding: .15em 0;
    margin: .15em 0;
  
    /* Add "stitching" effect */
    border-width: .08em 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
  }
