---
name: Tests

on:
  pull_request:
    branches: [main]
jobs:
  build:
    strategy:
      matrix:
        node-version: [24]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Dependencies
        run: pnpm install -r
      - name: Test ${{ matrix.node-version }} ${{ matrix.platform }}
        run: npm run ci
